<?php

/*
** Plugin will try to guess when a custom e-mail address should be used when
** composing an e-mail if this option is set to "true". If you have too many
** false positives or don't want to use it, set it to false.
*/
//$rcmail_config['custom_from_compose_auto'] = true;

/*
** If your MTA adds a header that definitively states which address email was
** send to, then we can use this as a fallback.
** e.g. Postfix adds 'X-Original-To' to all incoming emails.
*/
//$rcmail_config['custom_from_definitive_to'] = 'X-Original-To';

?>
