
/*
** Plugin custom_from for RoundcubeMail
**  - Plugin CSS styles
*/

#compose-headers a.custom_from_hide,
.compose-headers a.custom_from_hide {
	display	: none;
}

#compose-headers a.custom_from_off,
.compose-headers a.custom_from_off {
	position	: relative;
	top			: 3px;
	margin		: 0px 4px;
}

#compose-headers a.custom_from_on,
.compose-headers a.custom_from_on {
	position	: relative;
	top			: 3px;
	margin		: 0px 4px;
}

#compose-headers input.custom_from,
.compose-headers input.custom_from {
	width	: 300px;
}
